* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: "Lato", sans-serif;
}
.navbar {
    background-color: hsl(0, 94%, 50%);
    padding: 10px;
    margin-top: 20px;
    }
    .navbar a {
    text-decoration: none;
    margin-right: 50px;
    color: rgb(9, 45, 59);
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
    }

.success {
color: rgb(21, 212, 21);
margin-top: 20px;
}
.success::before {
content: "\2714";
margin-right: 20px;
margin-left: 20px;
}

form{
    margin-top: 20px;
    margin-left: 20px;
}

.navbar1 {
    display: flex;
    justify-content: space-evenly;
    background-color: #f0f0f0;
    padding: 15px;
    margin-top: 20px;
    }
    .navbar1 a {
    text-decoration: none;
    color: #333333;
    }

.one{
    margin-top: 20px;
}
li:nth-child(odd) {
background-color: hwb(0 66% 11%);
}
li:nth-child(even) {
background-color: rgb(13, 131, 160);
}

/* .pulse {
    animation: pulseAnimation 2s infinite;
    text-align: center;
    }

    @keyframes pulseAnimation {
    0% {
    transform: scale(1);
    }
    40% {
    transform: scale(1.4);
    }
    100% {
    transform: scale(1);
    }
    } */

    /* .modal {
        background-color: #00000077;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        }
        .modal-content {
        background-color: hsl(0, 37%, 37%);
        padding: 20px;
        } */

        p{
            margin-top: 20px;
        }

        body {
            background-color: hwb(231 71% 3%);
            font-size: 24px;
            margin: 25px;
            }
            @media screen and (max-width: 768px) {
            body {
            background-color: hsl(244, 47%, 64%);
            font-size: 15px;
            margin: 7px;
            }
            }
            @media screen and (max-width: 480px) {
            body {
            background-color: hwb(278 11% 29%);
            font-size: 8px;
            margin: 5px;
            }
            }

            .sidebar {
                position: fixed;
                top: 0;
                left: 0;
                width: 200px;
                height: 100%;
                background-color: #333;
            }